Source: omap3430-dsp
Section: non-free/misc
Priority: optional
Maintainer: Pali Rohár <pali.rohar@gmail.com>
Build-Depends: debhelper (>= 5)

Package: omap3430-dsp-baseimage-ti
Architecture: armel
Depends: gstreamer0.10-dsp (>= 0.10), kernel-modules (>= 2.6.28-20103103+0m5+cssu1) | kernel-feature-video720p
Conflicts: omap3-dsp-baseimage-ti
Replaces: omap3-dsp-baseimage-ti
Description: DSP base image
 DSP base image for OMAP3430.

Package: omap3430-dsp-libraries-ti
Architecture: armel
Depends: omap3430-dsp-baseimage-ti (= ${binary:Version})
Conflicts: gstreamer0.10-hd-codecs, omap3-dsp-hd-codecs, omap3-dsp-libraries-ti, gstreamer0.10-openmax
Replaces: gstreamer0.10-hd-codecs, omap3-dsp-hd-codecs, omap3-dsp-libraries-ti, gstreamer0.10-openmax
Description: DSP codecs
 DSP codecs for OMAP3430.
 .
 Codecs included:
 .
 * H.263 encoder / decoder
 * H.264 encoder / decoder
 * MPEG-4 encoder
 * MPEG-4 ASP decoder
 * WMV9 decoder
 * JPEG encoder
 * JPEG decoder
 .
 720p codecs included:
 .
 * H.264 BP/MP/HP decoder
 * MPEG-4 SP encoder
 * MPEG-4 ASP decoder
